* {
	font-family: 'Open Sans', sans-serif;
}

/* General Style */
.general-title {
	margin-top: 20px;
	margin-bottom: 30px;
}
.general-title h4 {
	text-decoration: underline;
}
p.dotdot{
	font-family: joker;
	text-align: center;
	font-weight: 5;
	font-size: 25px;
	margin-bottom: 30px;
}


/* Top */
#header {
	margin-top: 30px;
	margin-bottom: 30px;
}
.top-content {

}
.logo-block,
.logo-block-responsive {
	float: left;
	margin-right: 30px;
}
.logo-top {
	width: 120px;
}
.menu-block {
	float: left;
	height: 65px;
	line-height: 30px;
}
.menu {
	margin-top: 33px;
}
.menu li a {
	font-size: 12px;
	padding: 5px 10px;
	color: #000;
}
.menu li a:hover {
	color: #e90101;
	background-color: white;
}
.menu li.active a {
	color: #e90101;
}

.menu-icon{
	display: none;
}
.logo-premium {
	width:90%;
}

.logo-block-responsive{
	display: none;
}

/* Footer */
#footer {
	background-color: #373737;
	color: white;
	padding: 20px 0 0 0;
	border-top: solid 4px #e90101;
}
.footer-content {
	margin-bottom: 50px;
}
.footer-title {
	padding-bottom: 10px;
	border-bottom: solid 1px #646464;
}
.social {
	margin-top: 20px;
	margin-left: 0;
	margin-bottom: 50px;
	padding: 0;
}
.social li {
	width: 30px;
	height: 30px;
	display: inline-block;
	list-style: none;
	background-image: url('../img/social.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin-right:10px;
}
.social .youtube {
	background-position: auto;
}
.social .twitter {
	background-position: -39px;
}
.social .path {
	background-position: -79px;
}
.social .instagram {
	background-position: -119px;
}
.social .facebook {
	background-position: -159px;
}
.social .mail {
	background-position: -199px;
}
.social li a {
	display: block;
	text-decoration: none;
}
.copyright {
	text-align: center;
	border-top: solid 1px #646464;
	padding: 20px 0;
}
.logo-footer {
	margin-right: 15px;
}

/* Home */
.slider {
	width: 100%;
	height:400px;
	background-color: grey;
}
.sidebar {
	background-color: #f4f4f4;
	display: block;
	width: 100%;
	height: 100%;
}

.slider-full{
	padding: 0;
}
.right-img{
	padding: 0;
	height: 500px;
}
.home-message {
	background-color: #373737;
	padding: 15px 0 9px;
	color: white;
}
.lookbook-title {
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;
}
.lookbook-block {
	margin-bottom: 50px;
}
.lookbook-picture {
	width: 100%;
	background-color: #a3a3a3;
}

.lookbook-picture img{
	width: 100%;
}

.carousel-inner{
	height: 500px;
}

/* About */
.about-content {
	text-align: justify;
}
/* Price & Service*/
.product-picture {
	width: 100%;
	background-color: #a3a3a3;
	margin: 10px 0;
}

.product-picture img{
	width: 100%;
}

/* Location */
.margin-15{
	margin: 15px 0;
}

/* Contact */
textarea.messagebox{
	width: 385px;
	max-width: 385px;
}

input[type="text"],
input[type="submit"],
textarea{
	border-radius: 5px;
}

.submit-btn{
	border: 1px solid #FFEA00;
	border-radius: 5px;
	background-color: #FFEA00;
	padding: 5px;
}

/* Gallery */
.gallery img{
	width: 100%;
	height: 100%;
}

.gallery-block{
	margin-bottom: 25px;
}

/* Shop */
.shop-block{
	text-align: center;
	margin-bottom: 10px;
}
	.shop-block img{
		width: 100%;
	}
@media screen and (max-width: 680px){
	.logo-premium,
	.right-img {
		display: none;
	}
	.menu-icon{
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		float: right;
	}
	.logo-block{
		display: none;
	}
	.logo-block-responsive{
		display: inline-block;
		line-height: 30px;
	}

    .logo-block-responsive img{        
        width: 125%;
        margin-top: 5px;
    }
    .menu{
        margin-top: 5px;
    }

    ul#topnav {
        text-align: center;
    }

    #topnav > li {
        display: inline-block;
    }
}
@media screen and (max-width:680px) {
	.carousel-inner{
		height: 100%;
	}
}
@media screen and (max-width:480px) {
	#header{
		margin: 5px 0;
	}

	ul#topnav li{
		background-color: #fff;
		z-index: 2;
	}
	.logo-premium,
	.right-img {
		display: none;
	}

	.carousel-inner{
		height: 100%;
	}

	.menu-icon{
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		float: right;
	}
	.logo-block{
		display: none;
	}
	.logo-block-responsive{
		display: inline-block;
		line-height: 60px;
	}
}